on:
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Set up dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.100'
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: dotnet build src/UnionStruct.slnx -c Release
    - name: Test
      run: |
        cd src/
        dotnet test UnionStruct.slnx -c Release --no-build
        dotnet pack -c Release -o ./artifacts -p:Version=0.0.0-temp
        dotnet restore UnionStruct.Tests.NuGetIntegration/UnionStruct.Tests.NuGetIntegration.csproj --packages ./packages --configfile "nuget.integration-tests.config"
        dotnet build UnionStruct.Tests.NuGetIntegration/UnionStruct.Tests.NuGetIntegration.csproj -c Release --packages ./packages --no-restore
        dotnet test UnionStruct.Tests.NuGetIntegration/UnionStruct.Tests.NuGetIntegration.csproj -c Release --no-build --no-restore
